{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-3">{{request.user.first_name}}'s Account</h2>
    <hr>
    <div class="container">
        <div class="border rounded mb-3" id="addresses">
            <h4 class="ms-3">Your Addresses</h4>
            <hr>
            {% include 'accounts/address_list_partial.html' %}
        </div>
        <div class="border rounded" id="orders">
            <h4 class="ms-3">Your Recent Orders</h4>
            <hr>
            {% include 'accounts/recent_orders_partial.html' %}
        </div>
        <div>

        </div>
    </div>
    <div class="modal modal-dialog w-50" tabindex="-1" id="modal-form" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        {% csrf_token %}
                        <div class="">
                            <label for="full-name" class="form-label">Full Name</label>
                            <input class="form-control" type="text" id="full-name" placeholder="Recipient's full name">
                        </div>
                        <div class="">
                            <label for="address-line-1" class="form-label">Address line 1</label>
                            <input class="form-control" type="text" placeholder="Street address, P.O Box"
                                   id="address-line-1">
                        </div>
                        <div class="">
                            <label for="address-line-2" class="form-label">Address line 2</label>
                            <input class="form-control" type="text"
                                   placeholder="Apartment, Suite, unit, building, floor, etc" id="address-line-2">
                        </div>
                        <div class="">
                            <label for="city" class="form-label">City</label>
                            <input class="form-control" type="text" id="city" placeholder="City">
                        </div>
                        <div class="">
                            <label for="state" class="form-label">State</label>
                            <input class="form-control" type="text" id="state" placeholder="State">
                        </div>
                        <div class="">
                            <label for="zip" class="form-label">Zip</label>
                            <input class="form-control" type="text" id="zip" placeholder="Zip code">
                        </div>
                        <div class="">
                            <label for="number" class="form-label">Phone Number</label>
                            <input class="form-control" type="text" id="number" placeholder="Phone number">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-address" data-bs-dismiss="modal">Add Address
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% load static %}
{% block script %}
    <script src="{% static 'js/addAddress.js' %}"></script>
    <script src="{% static 'js/addressActions.js' %}"></script>
{% endblock %}