<section id="address-selection">
    <h5>Choose a shipping address</h5>
    <div class="border rounded">
        <div class="p-3">
            <h5>Your addresses</h5>
            <hr>
            <div>
                <form class="list-group">
                    {% csrf_token %}
                    {% for address in addresses %}
                    <label class="list-group-item d-flex">
                        <input class="form-check-input me-2"
                               type="radio"
                               name="address"
                               value="{{address.id}}"
                               {% if address.is_default %}checked{% endif %}
                        >
                        <p>
                            <strong>{{address.recipient_name}}</strong>
                            {{address.street_address}} {{address.apartment_address}}, {{address.city}},
                            {{address.state}}, {{address.zip_code}} <a href="">Edit address</a>
                        </p>
                    </label>
                    {% endfor %}
                </form>
                <div class="d-flex add-address my-3">
                    <i class="fas fa-plus"></i>
                    <span>Add new address</span>
                </div>
            </div>
        </div>
        <div id="address-selection-bottom" class="border rounded-bottom p-3">
            <button id="use-this-address-button" class="btn btn-primary">Use this address</button>
        </div>
    </div>
</section>