<div class="d-flex flex-wrap m-0 w-100 justify-content-start px-3" id="address-list-partial">
    <button
            class="btn d-flex flex-column align-items-center
                   justify-content-center p-4 border rounded m-3 address-card"
            data-bs-toggle="modal"
            data-bs-target="#add-address-modal-form"
    >
        <p class="text-secondary m-0" style="font-size: 5rem; line-height: 0.8;">+</p>
        <p class="fs-2">Add Address</p>
    </button>
    {% for address in addresses %}
        {% include 'accounts/address_card_partial.html' %}
    {% endfor %}
</div>