<!doctype html>
<html lang="en">
{% load static %}
{% load bootstrap_icons %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/checkout.scss' %}" rel="stylesheet">
    {% endcompress %}
    <script src="{% static 'js/checkoutActionsHandler.js' %}"></script>
    <script src="{% static 'js/loadImages.js' %}"></script>
    <title>Checkout</title>
</head>
<body>
<header class="px-5 row">
    <a href="{% url 'products:home' %}" class="navbar-brand me-5 col-5 ">
        <img src="{% static 'images/logo/Djangonics-logos_transparent.png' %}" alt="brand logo">
    </a>
    <h1 class="col-5">Checkout</h1>
</header>
<div class="m-0 px-5 py-2 row w-100 d-flex justify-content-center">
    <section id="checkout-section" class="col-8">
        <!-- displays the list of addresses with the default address being first -->
        <section id="address-selection">
            {% include 'accounts/address_selection_partial.html' %}
        </section>
        <hr>
        <!-- displays the list of payment methods -->
        <section id="payment-selection">
            <h5>2. Payment method</h5>
        </section>
        <hr>
        <!-- displays the list of items and prices, including other charges -->
        <section id="order-review">
            <h5>3. Review order</h5>
            {% include 'accounts/order_review_partial.html' %}
        </section>
        <hr>
    </section>
    <div id="order-summary-wrapper" class="col-3">
        <section id="order-summary" class="border rounded p-3">
            <h5>Order Summary:</h5>
            <ul class="list-unstyled">
                <li class="d-flex justify-content-between">
                    <span>Items ({{total_item_count}}):</span>
                    <span>${{total_price|floatformat:2}}</span>
                </li>
                <li class="d-flex justify-content-between">
                    <span>Shipping & handling:</span>
                    <span>$100.00</span>
                </li>
                <li class="d-flex justify-content-between">
                    <span>Tax (10%):</span>
                    <span>${{ tax|floatformat:2 }}</span>
                </li>
            </ul>
            <hr>
            <div class="d-flex justify-content-between">
                <h5>Order total:</h5>
                <h5>${{ order_total|floatformat:2 }}</h5>
            </div>
            <button class="btn btn-primary disabled w-100 mt-3">Place order</button>
        </section>
    </div>
</div>
</body>
</html>