<!doctype html>
<html lang="en">
{% load static %}
{% load bootstrap_icons %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/checkout.scss' %}" rel="stylesheet">
    {% endcompress %}
    <script type="module" src="{% static 'js/checkoutActionsHandler.js' %}"></script>
    <script type="module" src="{% static 'js/loadImages.js' %}"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=ATq1dwh2EUeN17EwoFcOdVylRg8jJAIt_9yDXDt83oO2EE2vwc8uUC-5LPcn6-7gPKsOVR0PjKjZG4x_&components=buttons,hosted-fields,marks&commit=false&intent=authorize"></script>
    <script src="{% static 'js/paypalIntegration.js' %}"></script>
    <title>Checkout</title>
</head>
<body>
<header class="px-5 row d-flex align-items-center py-2">
    <div class="col-4">
        <a href="{% url 'products:home' %}" class="navbar-brand me-5 col-5 ">
            <img src="{% static 'images/logo/Djangonics-logos_transparent.png' %}" alt="brand logo">
        </a>
    </div>
    <div class="col-4">
         <h1 class="text-light text-center">Checkout</h1>
    </div>
    <div class="col-4">
    </div>
</header>
<div class="m-0 px-5 py-2 row w-100 d-flex justify-content-center">
    <section id="checkout-section" class="col-8">
        <!-- displays the list of addresses with the default address being first -->
        <section id="address-selection">
            {% include 'accounts/address_selection_partial.html' %}
        </section>
        <hr>
        <!-- displays the list of payment methods -->
        <section id="payment-selection">
            <h5>2. Payment selection</h5>
            {% include 'accounts/payment_selection_partial.html' %}
        </section>
        <hr>
        <!-- displays the list of items and prices, including other charges -->
        <section id="order-review">
            <h5>3. Review order</h5>
            <div class="disabled-bg"><div class="spinner"></div></div>
            {% include 'accounts/order_review_partial.html' %}
        </section>
        <hr>
    </section>
    <div id="order-summary-wrapper" class="col-3">
        <section id="order-summary" class="border rounded p-3">
            <h5>Order Summary:</h5>
            <ul class="list-unstyled">
                <li class="d-flex justify-content-between">
                    <span>Items ({{total_item_count}}):</span>
                    <span>${{total_price|floatformat:2}}</span>
                </li>
                <li class="d-flex justify-content-between">
                    <span>Shipping & handling:</span>
                    <span>$100.00</span>
                </li>
                <li class="d-flex justify-content-between">
                    <span>Tax (10%):</span>
                    <span>${{ tax|floatformat:2 }}</span>
                </li>
            </ul>
            <hr>
            <div class="d-flex justify-content-between" id="order-total" data-value="{{order_total}}">
                <h5>Order total:</h5>
                <h5>${{ order_total|floatformat:2 }}</h5>
            </div>
            <button
                    type="button"
                    class="btn btn-primary place-order-button disabled w-100 mt-3"
                    data-bs-toggle="modal"
                    data-bs-target="#place-order-modal"
            >
                Place order
            </button>
        </section>
    </div>
</div>
<!--Place order modal
<div class="modal fade" id="place-order-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Order placed</h5>
      </div>
      <div class="modal-body">
        <h6>You've successfully placed your order. What's next?</h6>
      </div>
      <div class="modal-footer d-flex justify-content-center">
          <a href="{% url 'products:browse_all' %}" class="btn btn-primary mx-3">Continue shopping</a>
          <a href="{% url 'transactions:orders'  %}" class="btn btn-primary mx-3">Go to my orders</a>
      </div>
    </div>
  </div>
</div>
modal end -->
<!-- Edit address modal form -->
<div class="modal modal-dialog w-50" tabindex="-1" id="edit-address-modal" data-bs-backdrop="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    {% csrf_token %}
                    <div class="">
                        <label for="full-name" class="form-label">Full Name</label>
                        <input class="form-control" type="text" id="full-name" placeholder="Recipient's full name">
                    </div>
                    <div class="">
                        <label for="address-line-1" class="form-label">Address line 1</label>
                        <input class="form-control" type="text" placeholder="Street address, P.O Box"
                               id="address-line-1">
                    </div>
                    <div class="">
                        <label for="address-line-2" class="form-label">Address line 2</label>
                        <input class="form-control" type="text"
                               placeholder="Apartment, Suite, unit, building, floor, etc" id="address-line-2">
                    </div>
                    <div class="">
                        <label for="city" class="form-label">City</label>
                        <input class="form-control" type="text" id="city" placeholder="City">
                    </div>
                    <div class="">
                        <label for="state" class="form-label">State</label>
                        <input class="form-control" type="text" id="state" placeholder="State">
                    </div>
                    <div class="">
                        <label for="zip" class="form-label">Zip</label>
                        <input class="form-control" type="text" id="zip" placeholder="Zip code">
                    </div>
                    <div class="">
                        <label for="number" class="form-label">Phone Number</label>
                        <input class="form-control" type="text" id="number" placeholder="Phone number">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-address" data-bs-dismiss="modal">Add Address
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal form end -->
</body>
</html>