<div id="order-review-partial" class="p-3 border rounded">
    <h6>Your order items</h6>
    <hr>
    <div id="checkout-items-container" class="d-flex justify-content-center align-items-center flex-column">
        {% for selected_item in selected_items %}
            <div class="checkout-item-card w-100 p-3 mb-3 row d-flex">
                <div class="col-1 d-flex justify-content-center p-0 mx-3">
                    <div class="card-img-bg d-flex justify-content-center align-items-center">
                        <img class="product-img mx-auto"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             data-src="{% url 'products:get_images' selected_item.product.id %}"
                             loading="lazy"
                             alt="product_img"
                        >
                    </div>
                </div>
                <div class="col-9 px-3">
                    <h6>{{selected_item.product|truncatechars_html:130}}</h6>
                </div>
                <div class="col-1 flex-fill">
                    <p>Qty: {{selected_item.quantity}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <button id="place-order-button" class="place-order-button btn btn-primary w-25 mt-2">
            Place order
        </button>
    </div>
</div>
