<div id="orders-container" class="d-flex flex-column">
    {% for order in orders %}
    <div class="order-card border rounded-top m-3" id="order-{{order.id}}">
        <div class="order-header d-flex flex-column border rounded-top p-2">
            <div class="d-flex flex-start">
                <h4 class="flex-fill">Order ID: {{order.id}}</h4>
                {% if order.status == 'Open' and order.delivery_status == 'Processing' %}
                <a
                        class="mx-3 cancel-order-btn"
                        data-order-id="{{order.id}}"
                        data-bs-toggle="modal"
                        data-bs-target="#cancelOrderModal">
                    Cancel order
                </a>
                {% endif %}
                {% if order.status == 'Open' %}
                <p class="text-end mx-3 badge {% if order.delivery_status == 'Delivered' %}bg-success{% else %}bg-info{% endif %}">
                    Delivery status: {{ order.delivery_status }}
                </p>

                {% else %}
                <p class="text-end mx-3 badge bg-danger">
                    Order status: {{order.status}}
                </p>
                {% endif %}
            </div>
            <div class="d-flex flex-column ml-auto">
                <p class="mb-1">Creation Date: <strong>{{order.created_at}}</strong></p>
                <p class="mb-1">Total Amount: <strong>${{order.total_amount}}</strong></p>
            </div>
        </div>
        <div class="order-items-container p-3">
            <div class="d-flex justify-content-between">
                <h6>Order items</h6>
                <h6 class="me-4">Price</h6>
            </div>
            <hr>
            {% for item in order.order_items.all %}
            <div class="order-item-card row d-flex border-bottom m-3 pb-3">
                <div class="col-1 p-0">
                    <div class="card-img-bg">
                        <img
                                class="product-img"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src-url="{% url 'products:get_images' %}"
                                data-product-id="{{item.product.id}}"
                                loading="lazy"
                                alt="Product Image"
                        >
                    </div>
                </div>
                <div class="col-7">
                    <a href="{% url 'products:product_details' item.product.slug item.product.id %}">
                        <h6>{{item.product.name|truncatechars_html:130}}</h6>
                    </a>
                </div>
                <div class="col-1">

                </div>
                <div class="col-1">
                    <p>Qty: {{item.quantity}}</p>
                </div>
                <div class="col-2 flex-fill">
                    <p class="text-end"><strong>${{item.unit_price}}</strong></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
