/* line 5, e:/projects/e-commerce/djangonics/static/scss/checkout.scss */
header {
  background-color: #007fff;
  text-align: center; }

/* line 9, e:/projects/e-commerce/djangonics/static/scss/checkout.scss */
.list-group-item {
  background-color: #E6F0FF; }
