/* line 3, e:/projects/e-commerce/djangonics/static/scss/orders.scss */
.order-card {
  background-color: #E6F0FF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  /* line 7, e:/projects/e-commerce/djangonics/static/scss/orders.scss */
  .order-card .card-img-bg {
    width: 95px;
    height: 95px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 15, e:/projects/e-commerce/djangonics/static/scss/orders.scss */
  .order-card .product-img {
    object-fit: contain;
    width: 75px;
    height: 70px; }
  /* line 20, e:/projects/e-commerce/djangonics/static/scss/orders.scss */
  .order-card .order-item-card {
    border-bottom: solid 3px black; }
  /* line 23, e:/projects/e-commerce/djangonics/static/scss/orders.scss */
  .order-card .cancel-order-btn {
    cursor: pointer; }
