<div id="address-entry-{{address.id}}" class="d-flex justify-content-between list-group-item">
    <label class="d-flex align-items-center">
        <input class="form-check-input me-2"
               type="radio"
               name="address"
               value="{{address.id}}"
               {% if address.is_default %}checked{% endif %}
        >
        <p class="mb-0">
            <strong>{{address.recipient_name}}</strong>
            {{address.street_address}}{% if address.apartment_address %} {{address.apartment_address}}{% endif %},
            {{address.city}}, {{address.state}}, {{address.zip_code}}
        </p>
    </label>
    <button
            type="button"
            class="btn change-action edit-address"
            data-address-id="{{address.id}}"
            data-bs-toggle="modal"
            data-bs-target="edit-address-modal-form"
    >
        Edit Address
    </button>
</div>