{% extends 'base.html' %}
{% block title %}Browse All{% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid d-flex row">
        <section class="col-md-2 mt-3">
            <h5>Filter by:</h5>
            <form action="">
                {% for category in categories %}
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{category.slug}}" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{category.get_name_display}}
                          </label>
                    </div>
                {% endfor %}
            </form>
        </section>
        <section class="col-md-10">
            <h3>Browse All Products</h3>
            <div class="d-flex flex-column">
                <div class="row">
                    {% for product in products %}
                        <div class="card p-2 m-2 col-md-3" style="width: 18.25rem; height: 23rem">
                            <a href="{% url 'products:product_details' product.slug product.id%}">
                                <div class="card-img-bg">
                                    <img src="{{product.image.url}}" class="card-img-top product-img" alt="product-image">
                                </div>
                            </a>
                            <div class="card-body p-2">
                                <a href="{% url 'products:product_details' product.slug product.id%}">
                                    <h6 class="card-title">{{product.name|truncatechars_html:50}}</h6>
                                </a>
                                <h5 class="card-text mb-1">${{product.price|floatformat:2|intcomma}}</h5>
                                <p class="fs-6 mb-1">Stars | reviews</p>
                                <p class="text-secondary fs-6 mb-1">Sold by: {{product.seller}}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="fs-6 btn add-to-cart-button">Add to Cart</a>
                                    <a href="#" class="fs-6 btn buy-button">Buy Now</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}