{% extends 'base.html' %}
{% block title %}Browse All{% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid d-flex row">
        <section class="col-md-2 mt-3">
            <h5>Filter by:</h5>
            <form action="" class="filter-form" data-filter-url="{% url 'products:filter_products' %}">
                {% for category in categories %}
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{category.slug}}" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{category.get_name_display}}
                          </label>
                    </div>
                {% endfor %}
            </form>
        </section>
        <section class="col-md-10">
            <h3>Browse All Products</h3>
            <div class="d-flex flex-column" id="product-list-partial">
                {% include 'products/product_list_partial.html' %}
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}

{% endblock %}