{% load humanize %}
<div class="container" id="#cart-item-list">
    {% if products %}
        {% for product in products %}
        <div class="cart-card row d-flex flex-nowrap mb-3 p-3 cart-item" id="{{product.cart_item_id}}">
            <div class="col-2 d-flex justify-content-between">
                <div class="form-check col-1 d-flex justify-content-center align-items-center">
                    <input class="form-check-input cart-item-checkbox" type="checkbox" name="cart_item"
                           value="{{product.cart_item_id}}">
                </div>
                <div class="card-img-bg d-flex justify-content-center align-items-center">
                    <img class="product-img mx-auto"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                         data-src-url="{% url 'products:get_images' %}"
                         data-product-id="{{product.product_id}}"
                         loading="lazy"
                         alt="product_img"
                    >
                </div>
            </div>
            <div class="col-8 ms-3">
                <a href="{% url 'products:product_details' product.slug product.product_id %}">
                    <h6>{{product.name|truncatechars_html:130}}</h6>
                </a>
                <div class="d-flex cart-item-options mt-3">
                    {% include 'products/cart_item_options_partial.html' %}
                </div>
            </div>
            <div class="col-1 p-0 flex-fill">
                <h6 class="text-end">${{product.price}}</h6>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h4>
        Don’t leave your cart lonely! Fill it up with
        <a href="{% url 'products:todays_deals' %}">
            some amazing deals
        </a>
        today!
    </h4>
    {% endif %}
</div>