<div id="customer-reviews-container" class="px-5">
    {% if user_can_submit_review %}
    <form class="w-75" action="" novalidate>
        <h5>Post your review</h5>
        {% csrf_token %}
        <div class="form-group mb-3">
            <label class="form-label">Review title</label>
            <input class="form-control invalid" type="text" name="review-title" placeholder="Review title or summary"/>
            <p class="form-text text-danger error-message">Title must be at least 5 characters.</p>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Review</label>
            <textarea col="100"
                      row="10"
                      class="form-control invalid"
                      type="text"
                      name="review-content"
                      placeholder="Write your detailed review here..."
            ></textarea>
            <p class="form-text text-danger error-message">Review must at least be 50 characters.</p>
        </div>
        <input id="post-review-btn" class="btn btn-primary disabled" type="submit" value="Post review" data-product-id="{{product.id}}">
    </form>
    {% endif %}
    {% load bootstrap_icons %}
    {% if product.product_reviews %}
    <h5 class="my-3">Customer reviews</h5>
    {% for rating in product.product_ratings %}
    {% if rating.review %}
        {% include 'products/customer_review_entry.html' %}
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="py-5 my-5">
        <h3>There are no reviews for this product yet.</h3>
    </div>
    {% endif %}
</div>