<h5>Filter by:</h5>
<form action="" class="filter-form" data-filter-url="{% url 'products:filter_products' %}">
    <h6>Category:</h6>
    <div class="container">
        {% for category in categories %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{category.slug}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{category.get_name_display}}
                </label>
            </div>
        {% endfor %}
    </div>
    <h6>Price:</h6>
    <div class="container">
        <div class="row gx-1">
            <div class="input-group col">
                <span class="input-group-text">$</span>
                <input class="form-control" name="min_price" type="text" placeholder="Min">
            </div>
            <div class="input-group col">
                <span class="input-group-text">$</span>
                <input class="form-control" name="max_price" type="text" placeholder="Max">
            </div>
            <input type="submit" value="Go" class="col">
        </div>
    </div>
    <h6>Rating:</h6>

</form>