{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<section class="container" id="banner-container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/banner.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</section>
<section class="px-5 mt-3 mx-5">
    <h3>Display a section for each nav except the browse all</h3>
    <div class="product-section my-3 p-3">
        <h4>Best Sellers</h4>
    </div>
    <div class="product-section my-3 p-3">
        <h4>Today's deals</h4>
    </div>
    <div class="product-section my-3 p-3">
        <h4>New Arrivals</h4>
    </div>
</section>
{% endblock %}