{% load humanize %}
<div class="row">
    {% for product in products %}
        <div class="card p-2 m-2 col-md-3" style="width: 16rem; height: 21rem">
            <a href="{% url 'products:product_details' product.slug product.id%}">
                <div class="card-img-bg">
                    <img src="{{product.image.url}}" class="card-img-top product-img" alt="product-image">
                </div>
            </a>
            <div class="card-body p-2">
                <a href="{% url 'products:product_details' product.slug product.id%}">
                    <h6 class="card-title">{{product.name|truncatechars_html:50}}</h6>
                </a>
                <h5 class="card-text mb-1">${{product.price|floatformat:2|intcomma}}</h5>
                <p class="fs-6 mb-1">Stars | reviews</p>
                <div class="d-flex justify-content-between">
                    <a href="#" class="fs-6 btn add-to-cart-button">Add to Cart</a>
                    <a href="#" class="fs-6 btn buy-button">Buy Now</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row">
        {% endif %}
        {% empty %}
            <h4>No products found in this category</h4>
    {% endfor %}
</div>

