{% if product.ratings is not None %}
    <div class="text-nowrap mb-1">
        <div id="filled" class="overflow-hidden" style="position: absolute; width: calc(90px * {{product.average_rating|floatformat:1}} / 5); font-size: 0; z-index: 2;">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div id="hollow" style="position: absolute; width: 90px; font-size: 0; z-index: 1;">
            <span class="far fa-star"></span>
            <span class="far fa-star"></span>
            <span class="far fa-star"></span>
            <span class="far fa-star"></span>
            <span class="far fa-star"></span>
        </div>
    </div>
{% else %}
    <p>No ratings yet</p>
{% endif %}
