{% if product.ratings is not None %}
    <div class="d-flex align-items-start rating-container mb-1" title="Average rating: {{product.average_rating|floatformat:1}}">
        <div class="text-nowrap mb-1 me-1 position-relative" style="width: 90px;">
            <div id="filled" class="overflow-hidden" style="position: absolute; width: calc(90px * {{product.average_rating|floatformat:1}} / 5); font-size: 0; z-index: 2;">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div id="hollow" style="position: absolute; width: 90px; font-size: 0; z-index: 1;">
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
            </div>
        </div>
        <div style="font-size: 0;">
            <h6 class="mb-1" style="position: relative; top: -3px; font-size: 16px;">({{product.num_ratings}})</h6>
        </div>
    </div>
{% else %}
    <p>This product has no ratings yet</p>
{% endif %}
