{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-3">{{request.user.first_name}}'s Account</h2>
    <hr>
    <div class="container">
        <div class="border rounded mb-3" id="addresses">
            <h4 class="ms-3">Your Addresses</h4>
            <hr>
            {% include 'accounts/account/address_list_partial.html' %}
        </div>
        <div class="border rounded" id="orders">
            <h4 class="ms-3">Your Recent Orders</h4>
            <hr>
            {% include 'accounts/account/recent_orders_partial.html' %}
        </div>
        <div>

        </div>
    </div>
    {% include 'accounts/address_form_partial.html' %}
    {% include 'accounts/edit_address_modal.html' %}
</div>
{% endblock %}
{% load static %}
{% block script %}
    <script src="{% static 'js/addressActions.js' %}"></script>
{% endblock %}