$util-nav-color: #007fff;
$nav-text-color: #fff;
$main-nav-color: #0DC6FF;
$card-bg-color: #E6F0FF;
header{
    background-color: $util-nav-color;
    text-align: center;
    img{
        width: 10rem;
        height: 2.5rem;
    }
}
.list-group-item{
    background-color: $card-bg-color;
}
.add-address{
    display: inline-flex;
    align-items: center;
}
#address-selection-bottom{
    background-color: $card-bg-color;
}
.current-phase > h5{
    color: $main-nav-color;
}
.checkout-item-card{
    background-color: $card-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .card-img-bg{
        width: 95px;
        height: 90px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-img{
        object-fit: contain;
        width: 75px;
        height: 70px;
    }
}
#order-summary-wrapper {
    flex: 0 0 300px;
    position: sticky;
    top: 0.5rem;
    height: calc(100vh - 40px);
    overflow-y: auto;
}
#order-summary{
   flex: 1;
}
.change-action{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
#paypal-logo{
    width: 66px;
    height: 30px;
}
.spinner{
    width: 3rem;
    height: 3rem;
    border: 5px solid $util-nav-color;
    border-color: $util-nav-color transparent $util-nav-color transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}
.disabled-bg{
    background-color: rgba(0, 0, 0, 0.2);
}
