$util-nav-color: #007fff;
$nav-text-color: #fff;
$main-nav-color: #0DC6FF;
$card-bg-color: #E6F0FF;
header{
    background-color: $util-nav-color;
    text-align: center;
}
.list-group-item{
    background-color: $card-bg-color;
}
.add-address{
    display: inline-flex;
    align-items: center;
}
#address-selection-bottom{
    background-color: $card-bg-color;
}