$util-nav-color: #007fff;
$nav-text-color: #fff;
$main-nav-color: #0DC6FF;
$card-bg-color: #E6F0FF;
header{
    background-color: $util-nav-color;
    text-align: center;
}
.list-group-item{
    background-color: $card-bg-color;
}
.add-address{
    display: inline-flex;
    align-items: center;
}
#address-selection-bottom{
    background-color: $card-bg-color;
}
.current-phase > h5{
    color: $main-nav-color;
}
.checkout-item-card{
    background-color: $card-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .card-img-bg{
        width: 150px;
        height: 140px;
        background-color: #FFF;
    }
    .product-img{
        object-fit: contain;
        width: 148px;
        height: 138px;
    }
}