$util-nav-color: #007fff;
$nav-text-color: #fff;
$main-nav-color: #0DC6FF;
$card-bg-color: #E6F0FF;
#util-nav{
    background-color: $util-nav-color;
    color: $nav-text-color;
    a form{
        background-color: #00A4CC;
        color: #FFEEDB;
    }
    input#search-button{
        background-color: #FFA500;
        border: solid 1px #FFA500;
    }
    ul a{
        color: $nav-text-color;
    }
    ul li:hover{
        box-shadow: 0 0 0 2px #FFF;
        border-radius: 3px;
    }
    .item{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .item svg{
        margin-right: 5px;
    }
    .item span{
        font-size: 14px;
        display: inline-block;
        padding-top: 10px;
        font-weight: bold;
    }
    .nav-text span{
        display:block;
        line-height: 0.9;
    }
    span.primary-text{
        font-size: 14px;
        font-weight: bold;
    }
    span.secondary-text{
        font-size: 12px;
    }
    .bi{
        width:40px;
        height: 40px;
        margin-right: 5px;
    }
    #account-dropdown, .dropdown{
        padding: 0;
    }
    #cart-container{
        position: relative;
        width: 40px;
        height: 40px;
    }
    #item-counter{
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: -3px;
        right: -4px;
        padding-top: 5px;
        text-align: center;
        font-size: 12px;
        background-color: #FFA500;
        box-shadow: 1px 1px 0 0 #FFA500;
        border-radius: 50%;
    }
}
#main-nav{
    background-color: $main-nav-color;
    color: $nav-text-color;
    box-shadow: 0 2px 1px black;
    li:hover{
        background-color: #00a2d1;
    }
}
.card{
    background-color: $card-bg-color;
    width: 16rem;
    height: 19rem;
    .card-img-bg{
        width: 240x;
        height: 170px;
        background-color: #FFF;
    }
    .product-img{
        object-fit: contain;
        width: 238px;
        height: 170px;
    }
    .card-title{
        display: inline-block;
        height: 38.4px;
    }
}
.cart-card{
    background-color: $card-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .card-img-bg{
        width: 150px;
        height: 140px;
        background-color: #FFF;
    }
    .product-img{
        object-fit: contain;
        width: 148px;
        height: 138px;
    }
}
.active{
    background-color: #00a2d1;
}
.product-detail-img{
    width: 25rem;
    height: 18rem;
    object-fit: contain;
}
button.buy-button{
    display: block;
    background-color: #FFFF00;
    box-shadow: 1px 1px 1px;
    border-radius: 10px;
    width: 12rem;
    margin: 1rem auto;
    padding: 0.5rem;
}
button.add-to-cart-button{
    display: block;
    background-color: #FFA500;
    box-shadow: 1px 1px 1px;
    border-radius: 10px;
    width: 12rem;
    margin: 1rem auto;
    padding: 0.5rem;
}
.product-section{
    background-color: $card-bg-color;
    height: 10rem;
}

