@import 'variables';
#util-nav{
    background-color: $util-nav-color;
    color: $nav-text-color;
    a form{
        background-color: #00A4CC;
        color: #FFEEDB;
    }
    #search-button{
        background-color: $contrast-orange;
        border: solid 2px #767676;
    }
    ul a{
        color: $nav-text-color;
    }
    ul li:hover{
        box-shadow: 0 0 0 2px #FFF;
        border-radius: 3px;
    }
    .item{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .item svg{
        margin-right: 5px;
    }
    .item span{
        font-size: 14px;
        display: inline-block;
        padding-top: 10px;
        font-weight: bold;
    }
    .nav-text span{
        display:block;
        line-height: 0.9;
    }
    span.primary-text{
        font-size: 14px;
        font-weight: bold;
    }
    span.secondary-text{
        font-size: 12px;
    }
    .bi{
        width:40px;
        height: 40px;
        margin-right: 5px;
    }
    #account-dropdown, .dropdown{
        padding: 0;
    }
    #cart-container{
        position: relative;
        width: 40px;
        height: 40px;
    }
    #item-counter{
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: -3px;
        right: -4px;
        padding-top: 5px;
        text-align: center;
        font-size: 12px;
        background-color: #FFA500;
        box-shadow: 1px 1px 0 0 #FFA500;
        border-radius: 50%;
    }
    img{
        width: 10rem;
        height: 2.5rem;
    }
}
#main-nav{
    background-color: $main-nav-color;
    color: $nav-text-color;
    box-shadow: 0 2px 1px black;
    li:hover{
        background-color: #00a2d1;
    }
}
.card{
    background-color: $card-bg-color;
    width: 16rem;
    display: flex;
    justify-content: center;
    .card-img-bg{
        width: 240px;
        height: 170px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-img{
        object-fit: contain;
        width: 220px;
        height: 150px;
    }
    .card-title{
        height: 38.4px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .headspace{
        min-height: 1rem;
        height: 1.25rem;
        color: $nav-text-color;
    }

    @mixin fill-color($class) {
        @if $class == 'discounted' {
            border-top-color: $contrast-orange;
            background-color: transparent;
        }
        @else if $class == 'best-seller' {
            border-top-color: $lime-green;
            background-color: transparent;
        }
        @else if $class == 'new-arrival' {
            border-top-color: $hollow-purple;
            background-color: transparent;
        }
    }
    .ribbon-wrapper{
        width: 33%;
    }
    .ribbon-wrapper:first-child{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 0 0 0;
        font-size: 0.8rem;
        border-top: 1.25rem solid transparent;
        border-right: 1rem solid transparent;
        &.discounted{
            @include fill-color(discounted);
        }
        &.best-seller{
            @include fill-color(best-seller);
        }
        &.new-arrival{
            @include fill-color(new-arrival);
        }
        p{
            display: inline-block;
            position: absolute;
            text-align: center;
            top: -1.25rem;
        }
    }
    .ribbon-wrapper:not(:first-child){
        border-radius: 0px 0 0 0;
        transform: skew(-40deg) translateX(-10px);
        p{
            text-align: center;
            font-size: 0.8rem;
            transform: skew(40deg);
        }
    }
    .discounted{
        background-color: $contrast-orange;
    }
    .best-seller{
        background-color: $lime-green;
    }
    .new-arrival{
        background-color: $hollow-purple;
    }

}
.cart-card{
    background-color: $card-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .card-img-bg{
        width: 95px;
        height: 90px;
        background-color: #FFF;
    }
    .product-img{
        object-fit: contain;
        width: 75px;
        height: 75px;
    }

}
.active{
    background-color: #00a2d1;
}
.product-detail-img{
    width: 25rem;
    height: 18rem;
    object-fit: contain;
}
.buy-button{
    display: block;
    background-color: #FFFF00;
    box-shadow: 1px 1px 1px;
    border-radius: 10px;
    width: 12rem;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}
.add-to-cart-button{
    display: block;
    background-color: #FFA500;
    box-shadow: 1px 1px 1px;
    border-radius: 10px;
    width: 12rem;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}
.product-section{
    background-color: #B3D1FF;
    width: 80vw;
}
.fa-star{
    color: $rating-color;
    font-size: 16px;
}
.far{
    color: $rating-color;
    font-size: 16px;
}
li.address-action:not(:first-child)::before {
  content: "|";
  margin: 0 1px;
}
.address-action{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #007bff;
}
.address-card{
    height: 13rem;
    width: 17.25rem;
    .header{
        height: 2rem;
    }
}
#toast-container{
    position: absolute;
    top: 4rem;
    right: 3rem;
    width: 23rem;
}
#toast {
  background-color: rgba(255, 255, 255, 1);
  max-width: 30rem;
  width: 23rem;
}
.star-rating-filter:hover{
    cursor: pointer;
    background-color: $card-bg-color;
}
.selected-rating{
    background-color: rgba(0, 127, 255, 0.5);
}
input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { /* For Chrome and Edge */
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"], select.cart-item-qty {
    max-width: 8ch;
}
.cart-item-option:not(:first-child)::before {
  content: "|";
  margin: 0 10px;
}
.remove-item-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
.rating-container{
    min-height: 1rem;
    height: 1rem;
}
.bar-container{
    min-height: 24px;
    max-width: 8rem;
    display: flex;
    align-items: center;
}
.grey-bar{
    background-color: #e9ecef;
    min-width: 6rem;
    min-height: 16.8px;
    max-height: 16.8px;
}
.rating-bar{
    background-color: $rating-color;
    min-height: 16.8px;
    max-height: 16.8px;
}
#user-rating{
    div .fa-star, div .far{
        font-size: 2rem;
    }
}
.bi-person-circle{
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.3rem;
}
.mini-product-img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border: solid 1px #dee2e6;
    border-radius: 5px;
}
.carousel-item{
    width: 80vw;
    margin: auto;
    img {
        width: 80vw;
        height: 60vh;
        margin: auto;
        object-position: center;
        object-fit: fit;
    }
}
.products-container{
    .see-all-btn{
        background-color: transparent;
        border: none;
        .bi-grid{
            width: 4rem;
            height: 4rem;
        }
    }
}
