$util-nav-color: #007fff;
$nav-text-color: #fff;
$main-nav-color: #0DC6FF;
#util-nav{
    background-color: $util-nav-color;
    color: $nav-text-color;
    a form{
        background-color: #00A4CC;
        color: #FFEEDB;
    }
    input#search-button{
        background-color: #FFA500;
        border: solid 1px #FFA500;
    }
    ul a{
        color: $nav-text-color;
    }
}
#main-nav{
    background-color: $main-nav-color;
    color: $nav-text-color;
    box-shadow: 0 2px 1px black;
    li:hover{
        background-color: #00a2d1;
    }
}
.card{
    background-color: #E6F0FF;
    a.buy-button{
        background-color: #FFFF00;
        box-shadow: 1px 1px 1px 1px;
    }
    a.add-to-cart-button{
        background-color: #FFA500;
        box-shadow: 1px 1px 1px 1px;
    }
    .card-img-bg{
        width: 240x;
        height: 170px;
        background-color: #FFF;
    }
    .product-img{
        object-fit: contain;
        width: 240px;
        height: 170px;
    }
    .card-title{
        display: inline-block;
        height: 38.4px;
    }
}
.active{
    background-color: #00a2d1;
}
.product-detail-img{
    width: 25rem;
    height: 18rem;
    object-fit: contain;
}